@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';




:root {
  --aqua: #00D1F2;
  --lavender: #BA8FFF;
  
}

.aqua {
  background-color: var(--aqua);
}

.text-aqua {
  color: var(--aqua);
}

.border-aqua {
  border: 1px solid var(--aqua);
}

.lavender {
  background-color: var(--lavender);
}

#root {
  background-color: rgba(186, 143, 255, 0.18);
}

body {
  margin: 0;
  /* padding: 0;
  overflow: hidden; */
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100vh;
  width: 100vw;
}

p, a {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, li {
  cursor: pointer;
}

::target-text, div {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


select.blue, select.blue:focus, select.blue:active, select.blue:focus-visible {
  border: 0px;
  padding: 0 1rem;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  border: 0px !important;
  border-radius: 50% !important;
  /* padding: 0.25rem !important; */
  background: initial !important;
  background-color: var(--aqua) !important;
  color: #fff;
  font-weight: bold !important;
  font-size: 1em;
}

div:where(.swal2-container) h2:where(.swal2-title) {
  position: relative;
  max-width: 100%;
  padding: 1rem !important;
  color: inherit;
  font-size: 16px !important;
  font-weight: normal !important;
  text-align: center !important;
  text-transform: none;
  word-wrap: break-word;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div:where(.swal2-container).swal2-top, div:where(.swal2-container).swal2-center, div:where(.swal2-container).swal2-bottom {
  grid-template-columns: auto minmax(0, 1fr) auto;
  padding:0px !important;
}


/* Home, Campaign Details, MyAccount */
.campaignFeed img {
  width: 25%;
}


/* @media only screen and (min-width: 960px) {
  img, video {
    max-width: 25% !important;
    height: auto;
  } */
/* } */